.id{
height:1000px;
width:900px;
background-color:pink;
margin:auto;
}
.header{
height:50px;
width:900px;
background-color:yellow;
text-align:center
}
.header{
height:50px;
width:900px;
background-color:yellow;
text-align:center
font-family:fantashi;
}
.a{
height:20px;
width:900px;
background-color:blue;
color:white;
}
.b{
height:500px;
width:900px;
background-color:green;

}
.b1 img{
float:left;
height:500px;
width:450px;


}
.b2 img{
float:right;
height:500px;
width:450px;


}
.c table{
height:50px;
width:900px;

}